<style>

html, body {
    	height: 100%;
    	margin: 0px;
    }

 #wrapper {
    min-height: 100%; 
    margin-right: 137px;
    margin-left: 137px;
 }

#Header {
	background-color: orange;
	text-align: center;
}

h1 {
	color: white;
}