/*body {
	background-image: url("/images/forestFog.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
	position: relative;
	---udkommenter linje----background bugger når vindue size ændres startværdi: cover nu: 100% 1000px
}*/

body {
	background-color: #303030; 
}

#header	{
	font-weight: bold;
	font-family: "Courier New", Courier, monospace;
	font-size: 20px;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	/*padding: 50px;*/
}

.frameDiv {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 10;
}

.mainOptions {
	position: relative;
	padding: 100px;
}

.optionsList {
	list-style: none;
	width: 180px;
	padding-top: 100px;
	padding-left: 100px;
}

.aButton {
	color: orange;
	font-family: "Courier New", Courier, monospace;
	background-color: black;
	border-color: black;
	font-size: 16px;
	text-decoration: none;
	display: inline-block;
	height: 56px;
	width: 100%;
}

li {
	padding-bottom: 6px;
	overflow: visible;
}

strong:hover {
	background-color: white;
	border-color: white;
}

a:hover {
	color: black;
	background-color: white;
	border-color: white;
}

.development {
	color: white;
	font-family: "Courier New", Courier, monospace;
	background-color: black;
	border-color: black;
	font-size: 16px;
	text-decoration: none;
	display: inline-block;
}