html, body {
    	height: 100%;
    	margin: 0px;
    	background-color: #606060;
    }

 #wrapper {
 	position: absolute;
    min-height: 100%; 
    margin-right: 300px;
    margin-left: 300px;
 }

#Header {
	background-color: orange;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}

ul#symbols li {
	text-align: center;
	list-style-type: none;
	display: inline; 
	padding-right: 100px;
	padding-left: 100px;
}

h1 {
	color: white;
	font-family: "Times New Roman", Times, serif;
}